.button {
    --height: 0px;
    --width: 0px;
    --color: transparent;
    --border-color: transparent;
    --invert-color: black;
    --border-delimiter: 1;
    --shadow-color: transparent;
    appearance: none;
    background: var(--color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: var(--height) var(--width);
    border-radius: calc(var(--height) / var(--border-delimiter));
    transition: var(--transition);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.25;
}

.button:hover {
    box-shadow: 0px 4px 98px var(--shadow-color);
}

.button,
.button * {
    color: var(--invert-color);
}

.filled.accent {
    --color: var(--accent);
    --shadow-color: var(--accent);
    --invert-color: var(--light-primary);
}

.filled.white {
    --color: var(--light-primary);
    --shadow-color: var(--light-primary);
    --invert-color: var(--accent);
}

.filled.error {
    --color: var(--error);
    --shadow-color: var(--error);
    --invert-color: var(--light-primary);
}
.filled.transparent {
    --color: var(--transparent);
    --shadow-color: var(--accent);
    --invert-color: var(--transparent);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.outlined.accent {
    --border-color: var(--accent);
    --invert-color: var(--accent);
}

.outlined.white {
    --border-color: var(--light-primary);
    --invert-color: var(--light-primary);
}

.outlined.error {
    --border-color: var(--error);
    --invert-color: var(--error);
}

.s {
    --height: 20px;
    --width: 45px;
}

.m {
    --height: 20px;
    --width: 62px;
}

.l {
    --height: 28px;
    --width: 96px;
}

.rounded {
    --border-delimiter: 0.5;
}

@media (max-width: 640px) {
    .button{
        padding: 10px 25px !important;
        font-size: 18px !important;
        line-height: 22px !important;
        font-weight: bold !important;
    }
}
@media (max-width: 480px) {
    .button{
        padding: 10px 25px !important;
        font-size: 16px !important;

        line-height: 18px !important;
    }
}
@media (max-width: 400px) {
    .button{
        padding: 8px 15px !important;
        font-size: 15px !important;
        line-height: 18px !important;
    }
}
