.p {
    font-family: 'Outfit', sans-serif !important;
}

.notFoundPage {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background: url('~src/public/images/404/404PageBG.jpeg') center/cover;
    font-family: 'Outfit', sans-serif;
}

.notFoundPageBG {
    position: relative;
    margin-left: -80px;
    margin-right: -80px;
    width: -webkit-fill-available;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)) center/cover;
    font-family: 'Outfit', sans-serif;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 36px;
}

.ellipseContainer {
    position: absolute;
    right: 0%;
    width: 700px;
    height: 700px;
    opacity: 0.6;
}

.textBlock {
    position: relative;
    font-weight: 700;
    font-size: 550px;
    line-height: 82px;
    color: rgba(255, 92, 0, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textBlock > span {
    color: rgba(255, 250, 250, 1)
}

.btnBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

@media (max-width: 600px) {
    .notFoundPageBG {
        margin-left: -36px;
        margin-right: -36px;
    }
}
   