.wrapper {
    background: url('~src/public/images/faq/faqPageBG.png') center/cover;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    column-gap: 75px;
}

.title {
    margin-bottom: 100px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    line-height: 82px;

    color: #fffafa;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
    .container {
        margin-left: 0px;
    }

    .content {
        margin-top: 50px;
    }

    .title {
        margin-bottom: 40px;
        font-weight: 800 !important;
        font-size: 30px !important;
        line-height: 82px !important;
    }
}
