.wrapper {
  background: linear-gradient(
    96.81deg,
    rgba(255, 255, 255, 0.15) 6.97%,
    rgba(255, 255, 255, 0.15) 132.4%
  );
  box-shadow: 34.26px 4px 52.4px rgba(0, 7, 72, 0.25);
  backdrop-filter: blur(49.24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 12px;
  width: 324px;
  height: 104px;
  text-align: center;
  padding: 5px 80px;
  color: #fff   ;

  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  font-family: 'Outfit', sans-serif !important;;
}
@media (max-width: 1000px) {
  .wrapper {
    padding: 0;
    width: 199px;
    height: 89px;
  }
}